.BlackKey {
    float:left;
    width: 30px;
    height: 100px;
    background: black ;
    color: white;
    position: relative;
}

.WhiteKey {
    float:left;
    width: 40px;
    height: 200px;
    background: whitesmoke ;
    border: 1px solid black;   
}
